html { 
  margin: 0px;
  padding: 0px;

  height: 100%;
}

body { 
  margin: 0px auto;
  padding: 5px 20px;

  width: 800px;
  min-height: 100%;

  background-color: #fff; color: #333;
  -webkit-box-shadow: 0px 0px 5px #888;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

table {
  margin: 0px;
  padding: 0px;

  width: 100%;

  border-collapse:collapse;
}

table th {
  text-align: left;
  background: #333;
  color: #FFF;
}

table th,
table td {
  padding: 5px;
  border: 1px solid #999;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
